.body{
  overflow-x: hidden;
}

button{
  height: 60px;
  width: 150px;
  background-color: white;
  border: none;
}


video{
  /* width:auto; */
  height: 400px;
  /* display: block; */
  margin: 0px auto;
  /* border-radius: 15px; */
}
.card{
  border-style: none;
}
.card img{
  border: 1px solid none;
 border-radius: 50%;
}
.card .overlay{
  background: rgba(0, 0, 0, 0.4);
position: absolute;
height: 99%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
border-radius: 50%;
}
.card:hover .overlay{
  opacity: 1;
}
.card-body{
  position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.card:hover .card-body{
  top: 50%;
left: 50%;
opacity: 1;
color: #FFFF;
}
.fadeIn-bottom {
  top: 80%;
}
.big{
  height: 300px;
}
.carousel-inner{
  height: 550px !important;
}
.carousel-item{
  padding: 550px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item:nth-of-type(1){
  background-image: url(pics/Carousel/pexels-mnz-1598505.jpg);
}
.carousel-item:nth-of-type(2){
  background-image: url(pics/Carousel/shoes-1897708_1280.jpg);
}
.carousel-item:nth-of-type(3){
  background-image: url(pics/Carousel/pexels-karl-solano-2729899.jpg);
}
@media screen and (max-width: 900px){
  
}
